<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des clients</title>
        <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>
<body>
    <h1>Gestion des clients (version array)</h1>
